body {
  margin: 0;
  background-color: #171718;
  overflow: hidden;
}
.game {
  user-select: none;
  font-family: 'Courier New', Courier, monospace;

  --hud-height: 30px;
}
.game-canvas-background,
.game-canvas-background2,
.game-canvas-entieis {
  position: absolute;
}
.game-entity {
  position: absolute;
  image-rendering: pixelated;;
}
.game-inventory {
  position: absolute;
  left: 0;
  top: var( --hud-height );
  max-height: 100vh;
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
}
.game-inventory-item {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 3px;
  background-color: #0005;
  background-color: white;
  image-rendering: pixelated;
}
.game-inventory-item::after {
  position: absolute;
  left: calc( 100%  - 13px );
  top: calc( 100%  - 18px );
  content: attr( data-count );
  padding: 1px 3px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}
.game-hud {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 100vw;
  height: var( --hud-height );
  background-color: black;
  color: white;
}
.game-hud-stage_clock {
  position: absolute;
  right: 0;
  top: 100%;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}
.game-hud-stage_clock-hand {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX( -50% );
}
.game-hud-stage_clock-hand::after {
  position: absolute;
  content: "";
  border: 2px solid black;
  height: 15px;
  transform: translate( -2px, -100% );
}
.game-hud-stage_clock-12 {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX( -50% );
  width: 5px;
  height: 5px;
  background-color: green;
}
.game-hud-hp::after,
.game-hud-capacity::after,
.game-hud-eated_items::after,
.game-hud-transported_items::after {
  content: " " attr( data-count );
}
.game-highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.game-highlight-content {
  position: absolute;
  color: white;
  text-align: center;
}
.game-highlight-content-buttons {
  margin-top: 100px;
}
.game-highlight-highlighter {
  position: absolute;
  /* left: calc( -100vw + 480px );
  top: calc( -100vw + 475px );
  width: 100px;
  height: 100px; */
  border: 100vw solid #000a;
}