<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="css/main.css">

  <script type="module" src="js/main.js"></script>
</head>
<body>
  <article class="game">
    <section class="game-hud">
      <div class="game-hud-stage_clock">
        <span class="game-hud-stage_clock-hand"></span>
        <span class="game-hud-stage_clock-12"></span>
      </div>
      <span class="game-hud-capacity">Udźwig:</span>
      <span class="game-hud-transportedItems">Przeniesione przedmioty:</span>
    </section>
    <section class="game-entities"></section>
    <canvas class="game-canvas-background"></canvas>
    <canvas class="game-canvas-sprites"></canvas>
    <section class="game-inventory"></section>
  </article>
</body>
</html>